*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --main-color: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */
.header {
    padding-top: 20px;
    width: 1330px;
    margin: 0 113px 0 135px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__mail {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__mail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgb(210, 203, 240);
}

.header__mail-name {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.header__logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 184px;
}

.header__list {
    display: flex;
}

.header__item {
    transition: 0.2s ease;
}

.header__item:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header__item a {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 8px 22px;
}

/* Common */
.section-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
}

.section-desc {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.btn {
    display: inline-block;
    min-width: 170px;
    line-height: 62px;
    padding: 0 16px;
    outline: none;
    border: none;
    text-align: center;
    background: #5d3bee;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    transition: 0.2s ease;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.group__radio {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.radio-checked {
    width: 16px;
    height: 16px;
    background: #080415;
    opacity: 0.2;
    border-radius: 50%;
}

.radio-btn {
    margin: -2px 0 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Hero */
.hero {
    margin-top: 44px;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__decor {
    position: relative;
}

.hero__img {
    width: 514px;
    height: 705px;
    object-fit: cover;
}

.hero__img-decor {
    position: absolute;
    top: -79px;
    left: -222px;
    z-index: -1;
}

.hero__heading {
    font-size: 8rem;
    width: 500px;
    line-height: 0.95;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
}

.hero__more {
    margin-top: 50px;
}

.hero__work {
    margin-left: 30px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
}

.hero__work:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.hero__contact {
    margin-top: 104px;
    display: flex;
    align-items: center;
}

.hero__contact-title {
    margin-right: 5px;
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
}

.hero__contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(230, 203, 208, 0.9);
}

/* Client */
.client {
    margin-top: 100px;
}

.client__title {
    position: relative;
    max-width: 253px;
    font-size: 4.2rem;
    line-height: 1.19;
}

.client__title::after {
    position: absolute;
    display: block;
    content: "";
    top: 22px;
    left: -99px;
    width: 86px;
    height: 2px;
    background: #5d3bee;
}

.client__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 36px;
}

.client__item {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.client__item-name {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 500;
}

.client__bottom {
    margin-top: 133px;
}

.client__bottom-content {
    text-align: center;
}

.client__desc {
    margin: 20px auto 0;
    width: 534px;
}

.client__bottom-item {
    margin-top: 60px;
    padding: 33px 43px;
}

.client__bottom-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgba(230, 203, 208, 0.95);
}

.client__bottom-title {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.client__bottom-desc {
    margin-top: 15px;
}

/* Project */
.project {
    margin-top: 140px;
    padding: 86px 0;
    background: #5d3bee;
}

.project__top {
    align-items: center;
}

.project__top-heading,
.project__top-desc {
    color: #fff;
}

.project__top-desc {
    opacity: 0.7;
}

.project__bottom {
    margin-top: 70px;
}

.project__bottom-list {
    row-gap: 30px;
}

.project__bottom-item {
    position: relative;
    display: flex;
    align-items: center;
    background: #fbfaff;
    padding: 24px 23px 23px 34px;
}

.project__bottom-heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.project__bottom-desc {
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 1.44;
}

.project__bottom-more {
    display: block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.project__bottom-img {
    width: 246px;
    height: 187px;
    z-index: 1;
    object-fit: cover;
}

.project__bottom-decor {
    position: absolute;
    bottom: 0;
    right: 0;
}

.project__btn {
    margin: 80px auto 0;
}

.project__btn-cta {
    background: #fff;
    color: #080415;
}

/* Features */
.features {
    margin-top: 70px;
    padding: 70px 0 74px;
}

.features__content {
    text-align: center;
}

.features__content-note {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__content-title {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.features__content-icon {
    margin-left: 9px;
    width: 30px;
    height: 30px;
}

.features__content-heading {
    margin-top: 10px;
}

.features__content-desc {
    margin: 15px auto 0;
    max-width: 570px;
}

.features__data {
    position: relative;
    margin-top: 70px;
}

.features__data-separate {
    width: 946px;
    margin: 0 auto;
    height: 1px;
    background: #080415;
    opacity: 0.2;
}

.features__number {
    margin-top: 20px;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35;
    text-decoration-line: underline;
}

.features__info {
    margin-bottom: 20px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.67;
}

.features__media {
    position: relative;
    margin-top: 70px;
}

.features__thumb {
    display: block;
    height: 628px;
    object-fit: cover;
    cursor: pointer;
}

.features__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features__btn {
    position: absolute;
    bottom: 10px;
    right: -20px;
    background: #fff;
    color: #51586a;
}

.features__btn:hover {
    opacity: 1;
}

.features__bottom {
    margin-top: 150px;
    text-align: center;
}

.features__bottom-desc {
    margin: 20px auto 0;
    max-width: 570px;
}

.features__bottom-quote {
    margin: 60px auto 0;
    max-width: 679px;
    font-size: 2.4rem;
}

.features__bottom-user {
    margin-top: 36px;
}

.features__bottom-avatar,
.features__bottom-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__bottom-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background: #f29764;
    border-radius: 50%;
    overflow: hidden;
}

.features__bottom-img {
    padding-top: 5px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.features__bottom-name {
    margin-left: 15px;
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33;
}

.features__bottom-info {
    color: #51586a;
    font-size: 1.6rem;
    line-height: 1.81;
}

.features__bottom-cta {
    margin-top: 40px;
}

/* Question */
.question {
    margin-top: 95px;
}

.question__heading {
    width: 575px;
}

.question__content {
    margin-left: 23px;
}

.question__title {
    margin-top: 60px;
    color: #08182f;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    cursor: pointer;
}

.question__title-active {
    margin-top: 80px;
    color: #5d3bee;
}

.question__cta {
    margin-top: -33px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccb3b4;
    cursor: pointer;
}

.question__cta-active {
    border: 1px solid #e2c2e2;
    margin-top: 0;
}

.question__desc {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.67;
    max-width: 487px;
}

.question__separate {
    display: block;
    height: 2px;
    background: #08182f;
    margin-top: 11px;
}

.question__separate:first-child {
    margin-top: 21px;
}

/* About */
.about {
    margin-top: 20px;
    padding: 140px 0;
}

.about__inner {
    text-align: center;
}

.about__desc {
    margin: 20px auto 0;
    max-width: 528px;
}

.about__link {
    display: block;
    margin-top: 30px;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    text-decoration-line: underline;
}

.about__thumb {
    margin-top: 70px;
}

.about__img {
    width: 100%;
    object-fit: cover;
}

.about__end {
    text-align: center;
    margin-top: 140px;
    padding: 68px 0;
}

.about__icon {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}

.about__end-heading {
    white-space: nowrap;
    margin-bottom: 12px;
}

.about__end-btn {
    margin-top: 30px;
}

/* Footer */
.footer {
    padding-top: 20px;
    width: 1330px;
    margin: 0 113px 0 135px;
}

.footer__end {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__end,
.footer__policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__policy {
    position: relative;
    column-gap: 36px;
}

.footer__policy::after {
    position: absolute;
    content: "";
    display: block;
    left: 132px;
    width: 1px;
    height: 14px;
    background: #525771;
    opacity: 0.6;
}

.footer__end::after {
    position: absolute;
    content: "";
    top: -32px;
    left: -160px;
    display: block;
    width: 1429px;
    height: 1px;
    background: #0c0720;
    opacity: 0.2;
}

.footer__item {
    color: #525771;
    font-size: 1.8rem;
    line-height: 1.67;
}
